@use "./variables" as v;

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    position: relative;

    &:has(img) {
        cursor: pointer;
    }

    &.light {
        background-color: v.$color-board-light;
    }

    &.dark {
        background-color: v.$color-board-dark;
    }

    &.available-move {
        outline: 3px solid v.$highlight-move;
        outline-offset: -3px;
        border-radius: 4px;
        box-shadow: 0 0 10px v.$highlight-move;
    }

    &__move-circle {
        display: block;
        width: 10%;
        height: 10%;
        border-radius: 50%;
        background-color: v.$highlight-move;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}