@use "./variables" as v;

body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: v.$app-background;
    font-family: v.$font-base;
    color: v.$color-white;
    overflow: hidden;
}