@use "./variables" as v;

.piece {
    width: 100%;
    box-shadow: v.$piece-shadow;

    &.selected {
        outline: 3px solid gold;
        outline-offset: -3px;
        border-radius: 4px;
        box-shadow: 0 0 10px gold;
    }
}