// Base styles
@use "./reset";
@use "./variables";
@use "./global";

// Components
@use "./header";
@use "./player-panel";
@use "./board";
@use "./cell";
@use "./piece";

#app {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}